 *{
	margin:0;
	padding: 0;
}

body{
	box-sizing: border-box;
	font-family: sans-serif;
}

#login{
	background:#3F51B5;
}

.card-one{
	background:transparent;
	position: absolute;
	top:50%;
	left:50%;
	width:400px;
	transform:translate(-50%, -50%);
	padding:50px;
	box-shadow: 0 0 10px rgba(0, 0, 0 , .3);
	border-radius: 3px;
}

.card-one input[type="text"], input[type="password"], input[type="email"]{
	width:100%;
	margin:20px 0px 20px 0;
	background:transparent;
	padding:20px;
	font-size: 20px;
	color:black;
}

.card-one ::placeholder{
	color: #455a64;
	font-size:15px;
}

.card-one button[type="submit"]{
	padding: 10px;
	width: 100%;
	color: #455a64;
	font-size: 20px;
	background:#fff;
	font-family: sans-serif;
	font-weight: bold;
	margin-top: 56px;
}


button[type="submit"]:hover{
	background-color:rgb(2, 134, 2);
	color:#fff;
}
/* register page */

.reg-text a{
	color: green;
}


.card-two{
	background:transparent;
	position: absolute;
	top:50%;
	left:50%;
	width:400px;
	transform:translate(-50%, -50%);
	padding:50px;
	box-shadow: 0 0 10px rgba(0, 0, 0 , .3);
	border-radius: 3px;
}


.register button[type="submit"]{
	margin-left:4%;
	width: 100%;
}
#home{
	background:#000;
	color: #fff;
	height: 100vh;
}
#home .logo{
	padding:30px;
}
#home .logo span{
	font-style: italic;
	font-weight: bold;
	font-size:1.7em;
}
#home .container{
	padding:40px;
	/* font-family: 'Monteserrat'; */
	font-size:20px;

}
#home .container .home-btn{
	
	color:#fff;
	padding:10px 30px 10px 30px;
	margin-top: 30px;
} 
.card{
	height: 70vh;
}
.card .card-body{
	height:40px !important;
}
/* 
#tactic{
 margin-top:10%;
} */

@media only screen and (max-width:768px){
	.card{
		margin-top:20%;
		height: 100vh;
	}
	

} 
nav .navbar-nav > li{
	padding:5px 20px 5px 20px;
	
}

.nav-side{
	background: rgb(112, 139, 70);
	overflow: hidden;
	padding: 20px;
	border-radius: 11px;
	max-height: 85vh;
	overflow:scroll;
	
	
}
.nav-side h5{
	color: white;
	font-weight: bold;
}
 #myTab .wrapper{
	background: white;
	opacity: 0.6;
    /* width: fit-content; */
    padding: 30px;
	border-radius: 11px;
	margin-top: 5%;
}
#myTab li{
	/* list-style-type: none !important; */
	padding: 10px;
	color:#000;
  }

  #myTab  .side-nav-link{
	  color: #fff;
	  font-weight: bold;
	  
	
  }
.pic-list li{
	color: #fff;
	padding: 20px;
}